.preScene61Icon {
  height: 462px;
  width: 822px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.joyStick1Icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 806px;
  object-fit: cover;
}
.cry1Icon,
.unreal1Icon {
  position: absolute;
  top: 218px;
  left: 396px;
  width: 59px;
  height: 64px;
  object-fit: cover;
  z-index: 1;
}
.cry1Icon {
  top: 202px;
  left: 56px;
  width: 101px;
  height: 99px;
}
.mainContent {
  height: 761px;
  width: 668px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -739px;
}
.leftContent {
  margin-top: -848px;
  align-self: stretch;
  height: 833px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 371px 324px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.dGameDev {
  width: 161.1px;
  position: relative;
  line-height: 155.2%;
  display: inline-block;
  flex-shrink: 0;
}
.dGameDevWrapper {
  width: 455.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: #e87d0e;
}
.loremIpsumIs,
.workThatWe {
  position: relative;
  display: inline-block;
}
.workThatWe {
  margin: 0;
  width: 479.6px;
  font-size: inherit;
  line-height: 155.2%;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.loremIpsumIs {
  align-self: stretch;
  height: 101px;
  font-size: var(--base-size);
  line-height: 200%;
  font-weight: 500;
  flex-shrink: 0;
}
.workThatWeProduceForOurCParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.frameChild {
  height: 53px;
  width: 195px;
  position: relative;
  border-radius: var(--br-21xl);
  background: linear-gradient(92.48deg, #fa8305, #fb9e3c);
  display: none;
}
.getMoreDetails {
  position: relative;
  font-size: var(--base-size);
  font-weight: 500;
  font-family: var(--base);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.clientWorkBox,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-mini);
  background-color: transparent;
  border-radius: var(--br-21xl);
  background: linear-gradient(92.48deg, #fa8305, #fb9e3c);
  flex-direction: row;
  white-space: nowrap;
}
.clientWorkBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 527px;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
}
.unity1Icon {
  position: absolute;
  top: 158px;
  left: 502px;
  width: 96px;
  height: 30px;
  object-fit: cover;
}
.servicesDescription {
  height: 464px;
  width: 598px;
  position: relative;
  max-width: 100%;
}
.services {
  width: 892px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 163px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 50px;
}
.currentlyTrendingGames {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 187.5%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frameItem {
  height: 57px;
  width: 139px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  display: none;
}
.seeAll {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 38px;
  font-weight: 500;
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.rectangleGroup,
.trending,
.trendingBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl) var(--padding-4xs);
  background-color: var(--color-gray-400);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.groupButton:hover,
.rectangleGroup:hover {
  background-color: var(--color-gainsboro);
}
.trending,
.trendingBox {
  max-width: 100%;
}
.trendingBox {
  width: 1146px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.trending {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-23xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: 31px;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.homeChild {
  align-self: stretch;
  height: 1991px;
  position: relative;
  background: linear-gradient(148.9deg, #080300, rgba(8, 3, 0, 0));
  display: none;
}
.loremIpsumIs1 {
  margin: 0;
  width: 826px;
  position: relative;
  font-size: inherit;
  line-height: 187.5%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.loremIpsumIsSimplyDummyTeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 52px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 35px;
  color: var(--color-white);
  font-family: var(--base);
}
.loremIpsum {
  margin: 0;
  width: 209px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.contentBlocks {
  width: 503px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.loremIpsumIs2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 187.5%;
  display: inline-block;
  width: 545px;
  height: 101px;
}
.feedbackSourceChild {
  position: absolute;
  top: 0;
  left: 825px;
  width: 196px;
  height: 154px;
}
.feedbackSource,
.feedbackSourceItem {
  position: absolute;
  left: 0;
  width: 1146px;
}
.feedbackSourceItem {
  top: 67px;
  border-radius: 5px;
  height: 462px;
  object-fit: cover;
  z-index: 1;
}
.feedbackSource {
  top: 80px;
  height: 529px;
}
.feedbackBox {
  height: 609px;
  width: 1146px;
  position: relative;
  max-width: 100%;
}
.clientFeedback {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 142px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--base-size);
  color: var(--color-white);
  font-family: var(--base);
}
.ourRecentProjects {
  margin: 0;
  width: 305px;
  position: relative;
  font-size: inherit;
  line-height: 187.5%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.projectsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: center;
}
.loremIpsumIs3 {
  height: 57px;
  width: 497px;
  position: relative;
  line-height: 187.5%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.projectDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-37xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  color: var(--color-white);
  font-family: var(--base);
}
.frameChild1,
.frameInner,
.rectangleIcon {
  height: 223px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  min-height: 223px;
  max-width: 100%;
  z-index: 3;
}
.frameInner,
.rectangleIcon {
  flex: 1;
  overflow: hidden;
  min-width: 248px;
}
.frameChild1 {
  width: 352px;
}
.contentBlocks1,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.rectangleContainer {
  width: 1170px;
  flex-wrap: wrap;
  gap: var(--gap-8xl);
}
.contentBlocks1 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 18px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.frameChild2,
.frameChild3,
.frameChild4 {
  height: 223px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  min-height: 223px;
  z-index: 3;
}
.frameChild2 {
  width: 246px;
}
.frameChild3,
.frameChild4 {
  max-width: 100%;
}
.frameChild3 {
  width: 401px;
}
.frameChild4 {
  flex: 1;
  overflow: hidden;
  min-width: 305px;
}
.contentBlocks2,
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frameDiv {
  width: 1170px;
  flex-wrap: wrap;
  gap: var(--gap-8xl);
}
.contentBlocks2 {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-38xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.rectangleDiv {
  height: 57px;
  width: 139px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  display: none;
}
.seeAll1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 38px;
  font-weight: 500;
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.groupButton,
.viewAllProjects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl) var(--padding-4xs);
  background-color: var(--color-gray-400);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.viewAllProjects {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 90px var(--padding-xl);
  flex-shrink: 0;
}
.loremIpsum1 {
  margin: 0;
  width: 209px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.contentBlocks3 {
  width: 479px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.loremIpsumIs4 {
  width: 545px;
  position: relative;
  line-height: 187.5%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.home,
.testimonials {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.testimonials {
  width: 815px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 59px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--base-size);
}
.home {
  width: 100%;
  height: 5382px;
  position: relative;
  background: linear-gradient(180.96deg, #000, #4a2800);
  backdrop-filter: blur(14px);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 37px 0 0;
  gap: var(--gap-mini);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--base);
}
@media screen and (max-width: 1200px) {
  .leftContent {
    padding-left: 162px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .leftContent {
    padding-bottom: 241px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .leftContent {
    padding-left: 81px;
    box-sizing: border-box;
  }
  .workThatWe {
    font-size: 40px;
    line-height: 62px;
  }
  .services {
    padding-bottom: 106px;
    box-sizing: border-box;
  }
  .currentlyTrendingGames {
    font-size: 25px;
    line-height: 46px;
  }
  .trendingBox {
    flex-wrap: wrap;
    justify-content: center;
  }
  .loremIpsumIs1 {
    font-size: 28px;
    line-height: 52px;
  }
  .loremIpsum {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }
  .clientFeedback {
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .loremIpsum1,
  .ourRecentProjects {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }
  .home {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .leftContent {
    padding-left: var(--padding-xl);
    padding-bottom: 157px;
    box-sizing: border-box;
  }
  .dGameDev {
    font-size: var(--base-size);
    line-height: 25px;
  }
  .workThatWe {
    font-size: var(--font-size-11xl);
    line-height: 47px;
  }
  .currentlyTrendingGames {
    font-size: var(--font-size-lgi);
    line-height: 35px;
  }
  .loremIpsumIs1 {
    font-size: 21px;
    line-height: 39px;
  }
  .loremIpsum,
  .loremIpsum1,
  .ourRecentProjects {
    font-size: var(--font-size-lg);
    line-height: 34px;
  }
}
