.preScene61Icon {
  height: 462px;
  width: 822px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.joyStick1Icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 806px;
  object-fit: cover;
}
.cry1Icon,
.unreal1Icon {
  position: absolute;
  top: 218px;
  left: 396px;
  width: 59px;
  height: 64px;
  object-fit: cover;
  z-index: 1;
}
.cry1Icon {
  top: 202px;
  left: 56px;
  width: 101px;
  height: 99px;
}
.joyStick1Parent {
  height: 761px;
  width: 668px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -739px;
}
.preScene61Parent {
  margin-top: -848px;
  align-self: stretch;
  height: 833px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 371px 324px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.dGameDev {
  width: 161.1px;
  position: relative;
  line-height: 155.2%;
  display: inline-block;
  flex-shrink: 0;
}
.dGameDevWrapper {
  width: 455.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: #f53838;
}
.unity1Icon,
.workThatWe {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.workThatWe {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 155.2%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 312px;
}
.unity1Icon {
  align-self: stretch;
  height: 30px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.unity1Wrapper {
  height: 188px;
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 158px 0 0;
  box-sizing: border-box;
}
.workThatWeProduceForOurCParent {
  width: 598px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 22.4px;
  max-width: 100%;
}
.homeInner,
.loremIpsumIs {
  flex-shrink: 0;
  max-width: 100%;
}
.homeInner {
  width: 892px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-2xs);
  box-sizing: border-box;
  font-size: 50px;
}
.loremIpsumIs {
  height: 101px;
  width: 527px;
  position: relative;
  line-height: 200%;
  font-weight: 500;
  display: inline-block;
}
.loremIpsumIsSimplyDummyTeWrapper {
  width: 821px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 35px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--base-size);
}
.frameChild {
  height: 53px;
  width: 195px;
  position: relative;
  border-radius: var(--br-21xl);
  background: linear-gradient(92.48deg, #fa8305, #fb9e3c);
  display: none;
}
.getMoreDetails {
  position: relative;
  font-size: var(--base-size);
  font-weight: 500;
  font-family: var(--base);
  color: var(--color-maroon);
  text-align: left;
  z-index: 1;
}
.homeChild,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-mini);
  background-color: transparent;
  border-radius: var(--br-21xl);
  background: linear-gradient(92.48deg, #fa8305, #fb9e3c);
  justify-content: flex-start;
  white-space: nowrap;
}
.homeChild {
  width: 489px;
  justify-content: center;
  padding: 0 var(--padding-xl) 163px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.currentlyTrendingGames {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 187.5%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frameItem {
  height: 57px;
  width: 139px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  display: none;
}
.seeAll {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 38px;
  font-weight: 500;
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl) var(--padding-4xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.groupButton:hover,
.rectangleGroup:hover {
  background-color: var(--color-gainsboro);
}
.currentlyTrendingGamesParent,
.frameSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.currentlyTrendingGamesParent {
  width: 1146px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameSection {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-23xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: 31px;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.homeItem {
  align-self: stretch;
  height: 1991px;
  position: relative;
  background: linear-gradient(148.9deg, #080300, rgba(8, 3, 0, 0));
  display: none;
}
.loremIpsumIs1 {
  margin: 0;
  width: 826px;
  position: relative;
  font-size: inherit;
  line-height: 187.5%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.loremIpsumIsSimplyDummyTeContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 52px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 35px;
  color: var(--color-white);
  font-family: var(--base);
}
.loremIpsum {
  margin: 0;
  width: 209px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.loremIpsumWrapper {
  width: 503px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--color-white);
}
.loremIpsumIs2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 187.5%;
  display: inline-block;
  width: 238px;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 825px;
  width: 196px;
  height: 154px;
}
.frameParent,
.inputFieldIcon {
  position: absolute;
  left: 0;
  width: 1146px;
}
.inputFieldIcon {
  top: 67px;
  border-radius: 5px;
  height: 462px;
  object-fit: cover;
  z-index: 1;
}
.frameParent {
  top: 80px;
  height: 529px;
}
.loremIpsumIsSimplyDummyTeParent {
  height: 609px;
  width: 1146px;
  position: relative;
  max-width: 100%;
}
.homeInner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 142px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--base-size);
  color: var(--color-white);
  font-family: var(--font-alumni-sans-inline-one);
}
.ourRecentProjects {
  margin: 0;
  width: 305px;
  position: relative;
  font-size: inherit;
  line-height: 187.5%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.ourRecentProjectsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: center;
  color: var(--color-white);
}
.loremIpsumIs3 {
  height: 57px;
  width: 497px;
  position: relative;
  line-height: 187.5%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.loremIpsumIsSimplyDummyTeFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-37xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  color: var(--color-white);
  font-family: var(--base);
}
.frameChild1,
.frameChild2,
.rectangleIcon {
  height: 223px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  min-height: 223px;
  max-width: 100%;
  z-index: 3;
}
.frameChild1,
.rectangleIcon {
  flex: 1;
  overflow: hidden;
  min-width: 248px;
}
.frameChild2 {
  width: 352px;
}
.homeInner2,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.rectangleContainer {
  width: 1170px;
  flex-wrap: wrap;
  gap: var(--gap-8xl);
}
.homeInner2 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 18px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.frameChild3,
.frameChild4,
.frameChild5 {
  height: 223px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  min-height: 223px;
  z-index: 3;
}
.frameChild3 {
  width: 246px;
}
.frameChild4,
.frameChild5 {
  max-width: 100%;
}
.frameChild4 {
  width: 401px;
}
.frameChild5 {
  flex: 1;
  overflow: hidden;
  min-width: 305px;
}
.frameDiv,
.homeInner3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frameDiv {
  width: 1170px;
  flex-wrap: wrap;
  gap: var(--gap-8xl);
}
.homeInner3 {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-38xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.rectangleDiv {
  height: 57px;
  width: 139px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  display: none;
}
.seeAll1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 38px;
  font-weight: 500;
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.groupButton,
.homeInner4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl) var(--padding-4xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.homeInner4 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 90px var(--padding-xl);
  flex-shrink: 0;
}
.loremIpsum1 {
  margin: 0;
  width: 209px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.loremIpsumContainer {
  width: 1104px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--color-mediumpurple);
}
.loremIpsumIs4 {
  width: 545px;
  position: relative;
  line-height: 187.5%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.home,
.loremIpsumIsSimplyDummyTeWrapper1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--base);
}
.loremIpsumIsSimplyDummyTeWrapper1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 59px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--base-size);
  color: var(--color-mediumpurple);
}
.home {
  width: 100%;
  height: 5382px;
  position: relative;
  background: linear-gradient(180.96deg, #000, #4a2800);
  backdrop-filter: blur(14px);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 37px 0 0;
  gap: var(--gap-mini);
  letter-spacing: normal;
  font-size: var(--font-size-11xl);
  color: var(--color-maroon);
}
@media screen and (max-width: 1200px) {
  .preScene61Parent {
    padding-left: 162px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .preScene61Parent {
    padding-bottom: 241px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .preScene61Parent {
    padding-left: 81px;
    box-sizing: border-box;
  }
  .workThatWe {
    font-size: 40px;
    line-height: 62px;
  }
  .currentlyTrendingGames {
    font-size: 25px;
    line-height: 46px;
  }
  .currentlyTrendingGamesParent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .loremIpsumIs1 {
    font-size: 28px;
    line-height: 52px;
  }
  .loremIpsum {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }
  .homeInner1 {
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .loremIpsum1,
  .ourRecentProjects {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }
  .home {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .preScene61Parent {
    padding-left: var(--padding-xl);
    padding-bottom: 157px;
    box-sizing: border-box;
  }
  .dGameDev {
    font-size: var(--base-size);
    line-height: 25px;
  }
  .workThatWe {
    font-size: var(--font-size-11xl);
    line-height: 47px;
  }
  .currentlyTrendingGames {
    font-size: var(--font-size-lgi);
    line-height: 35px;
  }
  .loremIpsumIs1 {
    font-size: 21px;
    line-height: 39px;
  }
  .loremIpsum,
  .loremIpsum1,
  .ourRecentProjects {
    font-size: var(--font-size-lg);
    line-height: 34px;
  }
}
