.fire1Icon,
.metricIcons {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.metricIcons {
  align-self: stretch;
  height: 277px;
  border-radius: var(--br-xl);
  max-width: 100%;
  object-fit: cover;
}
.fire1Icon {
  width: 25px;
  height: 25px;
}
.fire1Wrapper {
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.followers {
  text-decoration: none;
  position: relative;
  line-height: 187.5%;
  font-weight: 500;
  color: inherit;
}
.frameParent {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.frameParent,
.frameWrapper,
.metricIconsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: row;
  padding: 0 var(--padding-22xl) 0 var(--padding-21xl);
}
.metricIconsParent {
  height: 343px;
  flex-direction: column;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
@media screen and (max-width: 450px) {
  .followers {
    font-size: var(--font-size-lg);
    line-height: 33px;
  }
}
