.footerChild {
  align-self: stretch;
  height: 376px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
}
.logo {
  margin: 0;
  font-size: inherit;
  line-height: 37px;
  font-weight: 800;
  font-family: inherit;
  min-width: 68px;
}
.logo,
.lorem,
.loremIpsumIs {
  position: relative;
  display: inline-block;
}
.loremIpsumIs {
  align-self: stretch;
  height: 58px;
  flex-shrink: 0;
}
.lorem {
  width: 196px;
}
.conditionStack,
.functionSequence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.conditionStack {
  align-self: stretch;
  gap: var(--gap-6xl);
  font-size: var(--base-size);
}
.functionSequence {
  width: 372px;
  gap: var(--gap-mini);
  min-width: 372px;
  max-width: 100%;
}
.aboutUs {
  height: 26px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
}
.careers,
.contactUs,
.portfolio,
.zeux {
  margin: 0;
}
.zeuxPortfolioCareersContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--base-size);
  line-height: 186.3%;
}
.functionSequence1 {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.contactUs1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 94px;
}
.loremIpsumIs1,
.splitterQueue {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.loremIpsumIs1 {
  align-self: stretch;
  height: 76px;
}
.splitterQueue {
  width: 141px;
  height: 28px;
  white-space: nowrap;
}
.connectionStack,
.storageQueue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.storageQueue {
  align-self: stretch;
  gap: var(--gap-2xs);
  font-size: var(--base-size);
}
.connectionStack {
  width: 282px;
  gap: var(--gap-xl);
  min-width: 282px;
}
.wrapperGroup5Child {
  height: 100%;
  width: 100%;
  min-height: 34px;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.824);
}
.wrapperGroup5 {
  height: 34px;
  width: 34px;
  position: relative;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGroup11Child {
  height: 100%;
  width: 100%;
  min-height: 34px;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.824);
}
.wrapperGroup11 {
  height: 34px;
  width: 34px;
  position: relative;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGroup10Child {
  height: 100%;
  width: 100%;
  min-height: 34px;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.824);
}
.wrapperGroup10 {
  height: 34px;
  width: 34px;
  position: relative;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGroup9Child {
  height: 100%;
  width: 100%;
  min-height: 34px;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.824);
}
.wrapperGroup9 {
  height: 34px;
  width: 34px;
  position: relative;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluatorQueue,
.mergerQueue {
  display: flex;
  align-items: flex-start;
}
.evaluatorQueue {
  height: 34px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.mergerQueue {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
}
.operatorStack {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  margin-left: -152px;
}
.functionSequenceParent,
.outputSequenceInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.functionSequenceParent {
  align-self: stretch;
  flex-direction: row;
}
.outputSequenceInner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 500px;
  font-size: var(--font-size-mid);
}
.inputSequence,
.outputSequence {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.outputSequence {
  width: 1219px;
  justify-content: flex-start;
  gap: var(--gap-59xl);
}
.inputSequence {
  width: 1421px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.dataAggregator {
  align-self: stretch;
  height: 0.8px;
  position: relative;
  border-top: 0.8px solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.processorChain {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  max-width: 100%;
}
.copyright2021 {
  position: relative;
  line-height: 25px;
  z-index: 1;
}
.conditionSplitter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-smi);
}
.footer,
.footerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.footer {
  flex: 1;
  background-color: var(--color-gray-300);
  flex-direction: column;
  padding: var(--padding-54xl) 0 var(--padding-10xl);
  box-sizing: border-box;
  gap: var(--gap-9xl-2);
  debug_commit: 3996a;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--base);
}
.footerWrapper {
  align-self: stretch;
  flex-direction: row;
}
@media screen and (max-width: 1100px) {
  .functionSequence {
    flex: 1;
  }
  .outputSequence {
    flex-wrap: wrap;
  }
  .footerWrapper {
    padding-bottom: var(--padding-344xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .connectionStack {
    flex: 1;
  }
  .operatorStack {
    flex-wrap: wrap;
  }
  .outputSequenceInner {
    min-width: 100%;
  }
  .outputSequence {
    gap: 78px 39px;
  }
  .processorChain {
    gap: 26px 53px;
  }
  .footerWrapper {
    padding-bottom: var(--padding-217xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .functionSequence {
    min-width: 100%;
  }
  .outputSequence {
    gap: 78px 19px;
  }
  .footer {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
