.frameChild {
  height: 603px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.dataAggregatorIcon {
  width: 496px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.loremIpsum {
  position: relative;
  line-height: 202.5%;
  font-weight: 500;
  display: inline-block;
  min-width: 105px;
  z-index: 1;
}
.loremIpsumIs,
.loremIpsumIs1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.loremIpsumIs {
  margin: 0;
  height: 150px;
  font-size: var(--font-size-9xl);
  line-height: 157.5%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.loremIpsumIs1 {
  line-height: 202.5%;
}
.aboutUsInner,
.inputCollector,
.logicBranch,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputCollector {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm);
}
.aboutUsInner,
.logicBranch,
.rectangleParent {
  max-width: 100%;
}
.logicBranch {
  width: 536px;
  flex-direction: column;
  padding: var(--padding-2xl) 0 0;
  box-sizing: border-box;
  min-width: 536px;
}
.aboutUsInner,
.rectangleParent {
  flex-direction: row;
  flex-shrink: 0;
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-gray-200);
  padding: var(--padding-94xl) var(--padding-91xl) 0;
  box-sizing: border-box;
  gap: var(--gap-76xl);
  debug_commit: 3996a;
}
.aboutUsInner {
  align-self: stretch;
  text-align: left;
  font-size: var(--base-size);
  color: var(--color-white);
  font-family: var(--base);
}
@media screen and (max-width: 1275px) {
  .dataAggregatorIcon,
  .logicBranch {
    flex: 1;
  }
  .rectangleParent {
    flex-wrap: wrap;
    gap: 95px 47px;
    justify-content: center;
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
  .aboutUsInner {
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .logicBranch {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    gap: 95px 24px;
    padding-left: var(--padding-8xl);
    padding-top: var(--padding-54xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .loremIpsumIs {
    font-size: var(--font-size-3xl);
    line-height: 35px;
  }
}
