.xMLHandlerChild {
  width: 1440px;
  height: 742px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.loremIpsum,
.loremIpsumIs {
  position: relative;
  line-height: 187.5%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.loremIpsum {
  margin: 0;
  width: 209px;
  height: 40px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.loremIpsumIs {
  align-self: stretch;
  height: 57px;
  font-size: var(--base-size);
}
.jSONHandler {
  width: 545px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frameChild {
  height: 189px;
  width: 1170px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.stayInThe {
  margin: 0;
  width: 303px;
  height: 45px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.subscribeToReceive,
.wePromiseNot {
  margin: 0;
}
.subscribeToReceiveContainer {
  align-self: stretch;
  height: 52px;
  position: relative;
  font-size: var(--font-size-mid);
  display: inline-block;
  z-index: 1;
}
.archiveHandler {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 413px;
  max-width: 100%;
}
.frameItem {
  height: 48px;
  width: 385.7px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.enterEmailAddress {
  align-self: stretch;
  height: 20px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.plugInManager {
  width: 155.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.styleEditorChild {
  height: 37px;
  width: 105px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-chocolate-100);
  display: none;
}
.continue1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 2;
}
.rectangleGroup,
.shapeGenerator,
.styleEditor {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.styleEditor {
  height: 37px;
  width: 105px;
  border-radius: var(--br-5xs);
  background-color: var(--color-chocolate-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-4xs)
    var(--padding-3xl-2);
  z-index: 1;
  color: var(--color-white);
}
.rectangleGroup,
.shapeGenerator {
  max-width: 100%;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-6xs-2) var(--padding-8xs)
    var(--padding-xl-6);
  gap: var(--gap-xl);
  z-index: 1;
}
.shapeGenerator {
  width: 385.7px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl);
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.rectangleParent,
.xMLHandler,
.xMLHandlerWrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-200);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: var(--padding-21xl) var(--padding-31xl) var(--padding-23xl)
    var(--padding-37xl);
  gap: var(--gap-23xl-3);
  z-index: 1;
}
.xMLHandler,
.xMLHandlerWrapper {
  flex-direction: column;
  align-items: flex-start;
}
.xMLHandler {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-26xl) var(--padding-116xl) var(--padding-286xl);
  gap: var(--gap-55xl);
  flex-shrink: 0;
  debug_commit: 3996a;
}
.xMLHandlerWrapper {
  flex: 1;
  padding: 0 0 var(--padding-215xl);
  min-height: 976px;
  margin-left: -1439px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--base);
}
@media screen and (max-width: 1275px) {
  .rectangleParent {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .archiveHandler {
    min-width: 100%;
  }
  .xMLHandlerWrapper {
    padding-bottom: var(--padding-133xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .loremIpsum {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }
  .jSONHandler {
    gap: 16px 32px;
  }
  .stayInThe {
    font-size: var(--font-size-5xl);
  }
  .rectangleParent {
    gap: var(--gap-2xl);
  }
  .xMLHandler {
    gap: 37px 74px;
    padding: var(--padding-1440xl) var(--padding-48xl) var(--padding-179xl);
    box-sizing: border-box;
  }
  .xMLHandlerWrapper {
    padding-bottom: var(--padding-80xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .loremIpsum {
    line-height: 34px;
  }
  .loremIpsum,
  .stayInThe {
    font-size: var(--font-size-lg);
  }
  .rectangleGroup {
    flex-wrap: wrap;
  }
  .xMLHandler {
    gap: 18px 74px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
