.ourTeam {
  margin: 0;
  width: 159px;
  position: relative;
  font-size: inherit;
  line-height: 180.5%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.frameGroup,
.frameParent,
.functionCall {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-9xl);
  min-width: 402px;
}
.frameParent,
.functionCall {
  box-sizing: border-box;
}
.frameParent {
  width: 1284px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-9xl);
  font-size: var(--font-size-lgi);
}
.functionCall {
  width: 1396px;
  flex-direction: column;
  padding: 0 0 var(--padding-smi) var(--padding-47xl);
  gap: var(--gap-34xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--base);
}
@media screen and (max-width: 1275px) {
  .functionCall {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .functionCall {
    gap: 26px 53px;
  }
}
@media screen and (max-width: 450px) {
  .ourTeam {
    font-size: var(--font-size-xl);
    line-height: 36px;
  }
}
