.formImageContainer {
  width: 100%;
  height: calc(100% - 126px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 126px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(4px);
  z-index: 1;
}
.loremIpsumIs,
.loremIpsumIs1 {
  position: relative;
  line-height: 187.5%;
  z-index: 2;
}
.loremIpsumIs {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 1px 0 0#72e6ff, 0 1px 0#72e6ff, -1px 0 0#72e6ff, 0-1px 0#72e6ff;
}
.loremIpsumIs1 {
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.loremIpsumIsSimplyDummyTeWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--base-size);
}
.frameWrapper,
.loremIpsumIsSimplyDummyTeParent,
.loremIpsumIsSimplyDummyTeWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.loremIpsumIsSimplyDummyTeParent {
  width: 826px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frameWrapper {
  width: 1045px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.mobileGameDevelopment {
  width: 220px;
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.arvrSolutions,
.mobileGameDevelopment,
.pcGameDevelopment,
.ps4GameDevelopment {
  position: relative;
  line-height: 187.5%;
  font-weight: 500;
  z-index: 2;
}
.mobileGameDevelopmentParent {
  width: 1045px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.arVrDesign,
.dModelings {
  position: relative;
  line-height: 187.5%;
  font-weight: 500;
  display: inline-block;
  min-width: 117px;
  z-index: 2;
}
.dModelings {
  min-width: 110px;
}
.arVrDesignParent,
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.arVrDesignParent {
  width: 327px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer {
  width: 1045px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.arrow1Icon,
.db4d123c4b390965f684f22d4bf138Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1567px;
  height: 881px;
  object-fit: cover;
}
.arrow1Icon {
  top: 538px;
  left: 328px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.arrow2Icon,
.frameChild {
  position: absolute;
  top: 389px;
  left: 306px;
  width: 65px;
  height: 65px;
  z-index: 2;
}
.arrow2Icon {
  top: 538px;
  left: 634px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: contain;
}
.arrow3Icon,
.frameItem {
  position: absolute;
  top: 389px;
  left: 612px;
  width: 65px;
  height: 65px;
  z-index: 2;
}
.arrow3Icon {
  top: 538px;
  left: 931px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: contain;
}
.arrow4Icon,
.frameInner {
  position: absolute;
  top: 389px;
  left: 909px;
  width: 65px;
  height: 65px;
  z-index: 2;
}
.arrow4Icon {
  top: 537px;
  left: 1197px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: contain;
}
.arrow5Icon,
.groupIcon {
  position: absolute;
  top: 389px;
  left: 1176px;
  width: 65px;
  height: 65px;
  z-index: 2;
}
.arrow5Icon {
  top: 767px;
  left: 634px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: contain;
}
.frameChild1 {
  top: 621px;
  left: 612px;
  width: 65px;
  height: 65px;
}
.arrow6Icon,
.frameChild1,
.frameChild2 {
  position: absolute;
  z-index: 2;
}
.arrow6Icon {
  top: 768px;
  left: 849px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: contain;
}
.frameChild2 {
  top: 621px;
  left: 827px;
  width: 65px;
  height: 65px;
}
.db4d123c4b390965f684f22d4bf138Parent {
  width: 1567px;
  height: calc(100% - 126px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -97px;
  bottom: 126px;
}
.formImageContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-74xl) var(--padding-xl) var(--padding-116xl)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-175xl);
  min-height: 1007px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--base-size);
  color: var(--color-skyblue);
  font-family: var(--base);
}
@media screen and (max-width: 1200px) {
  .formImageContainerParent {
    gap: 97px 194px;
  }
}
@media screen and (max-width: 1050px) {
  .mobileGameDevelopmentParent {
    flex-wrap: wrap;
  }
  .formImageContainerParent {
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-69xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .loremIpsumIs {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }
  .formImageContainerParent {
    gap: 48px 194px;
  }
}
@media screen and (max-width: 450px) {
  .loremIpsumIs {
    font-size: var(--font-size-lg);
    line-height: 34px;
  }
  .arVrDesignParent {
    flex-wrap: wrap;
  }
  .formImageContainerParent {
    gap: 24px 194px;
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
}
