@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --base: Poppins;
  --font-rubik: Rubik;
  --font-alumni-sans-inline-one: "Alumni Sans Inline One";

  /* font sizes */
  --font-size-smi: 13px;
  --base-size: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-mid: 17px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-gray-100: #898989;
  --color-gray-200: #1c140f;
  --color-gray-300: #070707;
  --color-gray-400: rgba(255, 255, 255, 0.11);
  --color-white: #fff;
  --color-lightgray: #d2d2d2;
  --color-chocolate-100: #dc7000;
  --color-chocolate-200: #c75c00;
  --color-chocolate-300: #c25700;
  --color-mediumpurple: #af8aff;
  --color-gainsboro: rgba(230, 230, 230, 0.11);
  --color-darkorange-100: #fa9021;

  /* Gaps */
  --gap-mini: 15px;
  --gap-9xl-2: 28.2px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-2xs: 11px;
  --gap-23xl-3: 42.3px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-8xl: 27px;
  --gap-175xl: 194px;
  --gap-78xl: 97px;
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-27xl-7: 46.7px;
  --gap-4xs: 9px;
  --gap-17xl-6: 36.6px;
  --gap-6xs-8: 6.8px;

  /* Paddings */
  --padding-54xl: 73px;
  --padding-10xl: 29px;
  --padding-12xs: 1px;
  --padding-28xl: 47px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-81xl: 100px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-129xl: 148px;
  --padding-21xl: 40px;
  --padding-23xl: 42px;
  --padding-37xl: 56px;
  --padding-9xl: 28px;
  --padding-7xs: 6px;
  --padding-6xs-2: 6.2px;
  --padding-8xs: 5px;
  --padding-xl-6: 20.6px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-4xs: 9px;
  --padding-3xl-2: 22.2px;
  --padding-95xl: 114px;
  --padding-11xl: 30px;
  --padding-38xl: 57px;
  --padding-74xl: 93px;
  --padding-116xl: 135px;
  --padding-20xl: 39px;
  --padding-41xl: 60px;
  --padding-69xl: 88px;
  --padding-10xs: 3px;
  --padding-55xl: 74px;
  --padding-14xl: 33px;
  --padding-22xl: 41px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-44xl: 63px;
  --padding-82xl: 101px;
  --padding-36xl: 55px;
  --padding-8xl: 27px;
  --padding-12xl: 31px;
  --padding-6xs: 7px;
  --padding-2xs-1: 10.1px;
  --padding-9xl-5: 28.5px;
  --padding-2xs: 11px;
  --padding-8xl-4: 27.4px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-21xl: 40px;
  --br-7xs: 6px;
}
